
.assets-view-container {

    .item-detail {

    }

    #treeview {

        .k-item.k-first {
            display: none;
        }

        .k-icon.k-i-collapse {
            background: url("/assets/icons/treeview/menu-down.svg") center center;
        }
        .k-icon.k-i-expand {
            background: url("/assets/icons/treeview/menu-right.svg") center center;
        }

        span.k-in:hover {
            text-decoration: underline;
        }
    }

}
