<div class="assets-view-container md-background-bg md-whiteframe-1dp">

    <div layout="row" layout-align="center">

        <div id="treeview"
             flex
             class="p-24"
             kendo-tree-view="vm.tree"
             k-options="vm.treeView.options"
             k-data-source="vm.treeView.dataSource">
        </div>

        <div flex="30" layout="column" class="md-background-bg md-hue-3 bl p-24">
            
            <div class="h2" editable-text="vm.selectedItem.text" onbeforesave="vm.rename($data)">
                {{vm.selectedItem.text}}
            </div>

            <div>
                <button ng-click="vm.addFolder($event)">[New folder]</button>
                <button ng-click="vm.addFile($event)">[New file]</button>
                <button ng-click="vm.delete($event)">[Delete]</button>
            </div>
        </div>

    </div>

    <!--
    <div class="md-background-bg md-hue-3 b p-24 box-col json-data-wrapper" ng-show="true">
        <h4>Tree:</h4>
        <pre ng-bind="vm.observableStructureFolder | json"</pre>
    </div>
    -->

</div>