<div class="assets-view-container md-background-bg md-whiteframe-1dp">

    <div layout="row" layout-align="center">

        <div id="treeview" ng-click="vm.boundariesTreeView($event)"
             flex
             class="p-24"
             kendo-tree-view="vm.tree"
             k-options="vm.treeView.options"
             k-data-source="vm.treeView.dataSource"
             k-on-drag="vm.onDrag(kendoEvent)"
             k-on-drop="vm.onDrop(kendoEvent)">
        </div>

        <div flex ng-click="vm.outsideTreeView($event)">
        </div>

        <div flex="30" layout="column" class="md-background-bg md-hue-3 bl p-24">

            <div ng-if="vm.selectedItem">
                <div class="h2" editable-text="vm.selectedItem.text" onbeforesave="vm.rename($data)">
                    {{vm.selectedItem.text}}
                </div>

                <div><span translate="ASSETS.PROPERTY.PATH" />: {{vm.selectedItem.id}}</div>
                <div ng-if="vm.selectedItem.mtime !== undefined"><span translate="ASSETS.PROPERTY.MODIFIED" />: {{vm.selectedItem.mtime | date}}</div>
                <div ng-if="vm.selectedItem.size !== undefined"><span translate="ASSETS.PROPERTY.SIZE" />: {{vm.selectedItem.size}} bytes</div>

                <div ng-switch on="vm.selectedItem.type">
                    <img ng-switch-when="image" title="{{vm.selectedItem.text}}"
                    ngf-thumbnail="vm.fileUrl(vm.selectedItem.id)" />

                    <audio ng-switch-when="audio" title="{{vm.selectedItem.text}}" controls
                    ngf-src="vm.fileUrl(vm.selectedItem.id)" />

                    <video ng-switch-when="video" title="{{vm.selectedItem.text}}" controls
                    ngf-src="vm.fileUrl(vm.selectedItem.id)" />
                </div>

                <div>
                    <md-button  ng-if="vm.selectedItem.type=='folder'"
                                ng-click="vm.addFolder($event)"
                                class="md-icon-button"
                                aria-label="new folder" translate
                                translate-attr-aria-label="ASSETS.ACTION.NEW_FOLDER">
                        <md-tooltip><span translate="ASSETS.ACTION.NEW_FOLDER" /></md-tooltip>
                        <md-icon md-font-icon="icon-folder-plus" class="md-default-theme"></md-icon>
                    </md-button>

                    <md-button  ng-if="vm.selectedItem.type=='folder'"
                                ngf-select="vm.addFiles($files)" multiple
                                class="md-icon-button"
                                aria-label="upload file" translate
                                translate-attr-aria-label="ASSETS.ACTION.UPLOAD_FILE">
                        <md-tooltip><span translate="ASSETS.ACTION.UPLOAD_FILE" /></md-tooltip>
                        <md-icon md-font-icon="icon-upload" class="md-default-theme"></md-icon>
                    </md-button>

                    <md-button  ng-if="vm.selectedItem.type!='folder'"
                                ng-click="vm.downloadFile($event)"
                                class="md-icon-button"
                                aria-label="download file" translate
                                translate-attr-aria-label="ASSETS.ACTION.DOWNLOAD_FILE">
                        <md-tooltip><span translate="ASSETS.ACTION.DOWNLOAD_FILE" /></md-tooltip>
                        <md-icon md-font-icon="icon-download" class="md-default-theme"></md-icon>

                    </md-button>

                    <md-button  ng-if="vm.selectedItem && vm.selectedItem.id != '/'"
                                ng-click="vm.delete($event)"
                                class="md-icon-button"
                                aria-label="delete" translate
                                translate-attr-aria-label="ASSETS.ACTION.DELETE">
                        <md-tooltip><span translate="ASSETS.ACTION.DELETE" /></md-tooltip>
                        <md-icon md-font-icon="icon-delete" class="md-default-theme"></md-icon>
                    </md-button>

                </div>

            </div>

        </div>

    </div>

</div>