
<div id="theme" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-themes-button md-icon-button" aria-label="Go to themes"
                       ng-click="vm.gotoThemes()"
                       translate translate-attr-aria-label="THEMES.GO_TO_THEMES">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div class="theme-image" hide-xs ng-if="vm.theme.thumbnail">
                    <img ng-src="{{vm.theme.thumbnail}}">
                </div>

                <div layout="column" layout-align="start start">
                    <div class="h2" editable-text="vm.themeCopy.name" onbeforesave="vm.updateThemeName($data)">
                        {{vm.theme.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span translate="THEMES.THEME_DETAIL">Theme Detail</span>
                    </div>
                </div>
            </div>
        </div>
        
        <md-button  class="md-icon-button"
                    aria-label="delete"
                    ng-click="vm.deleteConfirm()"
                    translate-attr-aria-label="FORMS.DELETE">
            <md-icon md-font-icon="icon-delete" class="md-default-theme" aria-label="delete" translate-attr-aria-label="FORMS.DELETE"></md-icon>
        </md-button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <!-- Description -->
            <md-tab>
                <md-tab-label>
                    <span translate="THEMES.BASIC_INFO">Basic Info</span>
                </md-tab-label>

                <md-tab-body>
                    <theme-general-view theme="vm.theme"></theme-general-view>
                </md-tab-body>
            </md-tab>

            <!-- Timeline -->
            <md-tab md-on-select="vm.sendInitMessage($event, 'initTimeline')">
                <md-tab-label>
                    <span translate="THEMES.TIME_LINE">Time line</span>
                </md-tab-label>

                <md-tab-body>
                    <timeline-viewer></timeline-viewer>
                </md-tab-body>
            </md-tab>

            <!-- Progress levels -->
            <md-tab>
                <md-tab-label>
                    <span translate="THEMES.PROGRESS_LEVELS">Progress levels</span>
                </md-tab-label>

                <md-tab-body>
                    <theme-progress-levels-view theme="vm.theme"></theme-progress-levels-view>
                </md-tab-body>
            </md-tab>
            
            <!-- Assets -->
            <md-tab>
                <md-tab-label>
                    <span translate="THEMES.ASSETS">Assets</span>
                </md-tab-label>

                <md-tab-body>
                    <theme-assets-view theme="vm.theme"></theme-assets-view>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>
