# Directorios varios
node_modules
bower_components
dist
data
.tmp
e2e
.idea
.vscode

# Mac
.DS_Store
._.DS_Store
._*

# sublime
gamification.sublime-project
gamification.sublime-workspace

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Optional npm cache directory
.npm
npm-debug.log
