
<div id="game" class="page-layout simple tabbed" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-games-button md-icon-button" aria-label="Go to games"
                       ng-click="vm.gotoGames()"
                       translate translate-attr-aria-label="GAMES.GO_TO_GAMES">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">
                <div layout="column" layout-align="start start">
                    <div class="h2" editable-text="vm.gameCopy.name" onbeforesave="vm.renameGame($data)">
                        {{vm.game.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span translate="GAMES.GAME_DETAIL">Game Detail</span>
                    </div>
                </div>
            </div>
        </div>

        <md-button  class="md-icon-button"
                    aria-label="delete"
                    ng-click="vm.deleteConfirm()"
                    translate-attr-aria-label="FORMS.DELETE">
            <md-icon md-font-icon="icon-delete" class="md-default-theme" aria-label="delete" translate-attr-aria-label="FORMS.DELETE"></md-icon>
        </md-button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <md-tabs md-dynamic-height>

            <!-- Description -->
            <md-tab>
                <md-tab-label>
                    <span translate="GAMES.BASIC_INFO">Basic Info</span>
                </md-tab-label>

                <md-tab-body>
                    <div>General view</div>

                    <!--
                        Elementos de la definición a validar:

                        * KPIs que puntuan en el ranking sin descripción
                        * KPIs calculados sobre otros KPIs que ya no existen
                        * Equipos de jugadores que no están en el último nivel
                        * Presupuesto sobrepasado
                        * Equipos sin jugadores
                        * Etapas solapadas
                        * Eventos del timeline fuera de rango
                        *       - Antes de la fecha actual
                        *       - 
                        
                    -->

                </md-tab-body>
            </md-tab>

            <!-- KPIs -->
            <md-tab md-on-select="vm.sendInitMessage($event, 'initKpiViewer')">
                <md-tab-label>
                    <span translate="KPIS.TAB_TITLE">Metricas</span>
                </md-tab-label>

                <md-tab-body>
                    <game-kpis-view></game-kpis-view>
                </md-tab-body>
            </md-tab>

            <!-- Timeline -->
            <md-tab md-on-select="vm.sendInitMessage($event, 'initTimeline')">
                <md-tab-label>
                    <span translate="GAMES.TIME_LINE">Time line</span>
                </md-tab-label>

                <md-tab-body>
                    <timeline-viewer></timeline-viewer>
                </md-tab-body>
            </md-tab>

            <!-- Progress levels -->
            <md-tab>
                <md-tab-label>
                    <span translate="GAMES.PLAYERS">Jugadores y grupos</span>
                </md-tab-label>

                <md-tab-body>
                    <div>Jugadores y grupos de jugadores</div>
                    <players-view game="vm.game"></players-view>
                </md-tab-body>
            </md-tab>

            <!-- Premios -->
            <md-tab md-on-select="vm.sendInitMessage($event, 'initTreeMapViewer')">
                <md-tab-label>
                    <span translate="GAMES.PREMIOS">Premios</span>
                </md-tab-label>

                <md-tab-body class="TreeMapViewerWrapper">
                    <treemap-viewer></tremap-viewer>
                </md-tab-body>
            </md-tab>

            <!-- Resultados -->
            <md-tab ng-if="vm.game.status!=='En definición'">
                <md-tab-label>
                    <span translate="GAMES.RESULTADOS">Resultados</span>
                </md-tab-label>

                <md-tab-body>
                    <div>Visor de resultados (solo si la partida está en ejecución</div>
                </md-tab-body>
            </md-tab>

        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>
