
#game {

    .header {

        height: 76px;
        min-height: 76px;
        max-height: 76px;

        .goto-games-button {
            margin-right: 16px;
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

}