.distribution-field {

    label {
        color: rgba(0,0,0,0.54);
    }

    .params-table {

        .layout-row {
            border-bottom: 1px solid rgba(0,0,0,0.12);
        }
        .label {

            font-size: 13px;
            color: rgba(0,0,0,0.54);
            line-height: 30px;

        }

        .value {

        }

        input {
            color: rgba(0,0,0,0.87);
            border-color: rgba(0,0,0,0.12);
            border-width: 0 0 1px 0;

            &:focus {
                padding-bottom: 0;
                border-width: 0 0 2px 0;
                border-color: rgb(45,50,62);
            }
        }
    }
}
