<div id="import-users" class="page-layout simple fullwidth" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-list-button md-icon-button" aria-label="Go to distributions"
                       ng-click="vm.goBack()"
                       translate translate-attr-aria-label="USERS.GO_TO_USERS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">

                <div layout="column" layout-align="start start">
                    <div class="h2 secondary-text">
                        <span translate="USERS.IMPORT_TITLE">Import Users</span>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <md-button ng-click="vm.openFile($event)"
                       class="md-raised md-background"
                       aria-label="Import xlsx" translate="USERS.IMPORT.SPREADSHEET"
                       translate-attr-aria-label="USERS.IMPORT.SPREADSHEET">
                <md-icon md-font-icon="icon-file-excel"></md-icon>
            </md-button>
        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start" layout-wrap>

        <!-- MAIN -->
        <div class="main scrollable" ms-scroll>

            <div layout="column">

                <!-- CONFIG FORM  -->
                <div class="form-wrapper form-data-wrapper md-whiteframe-1dp">
                    <form name="importUsersForm">
                        <div layout="row">
                            <div flex="50">

                                <md-list class="edit-list ph-16">
                                    <md-list-item>
                                        <p translate="USERS.IMPORT.SHEET" class="text-semibold">HOJA</p>
                                        <select ng-model="vm.selectedSheet"
                                                required>
                                            <option ng-repeat="sheet in vm.sheets">{{sheet.name}}</option>
                                        </select>
                                    </md-list-item>

                                    <md-list-item>
                                        <p translate="USERS.IMPORT.CUSTOMER" class="text-semibold">CLIENTE</p>
                                        <select ng-model="vm.customer"
                                                required>
                                            <option ng-repeat="customer in vm.customers" value="{{customer._id}}">
                                                {{customer.name}}
                                            </option>
                                        </select>
                                    </md-list-item>

                                    <md-list-item class="md-no-proxy">
                                        <p translate="USERS.IMPORT.SHEET_RANGE">RANGO</p>
                                        <input type="text"
                                               ng-model="vm.range"
                                               ng-pattern="vm.rangePattern"
                                               required/>
                                        <md-button class="md-icon-button" ng-click="vm.setRange()">
                                            <md-icon md-font-icon="icon-table"></md-icon>
                                        </md-button>
                                    </md-list-item>

                                    <md-list-item class="md-no-proxy">
                                        <md-button type="submit" ng-click="vm.importUsers($event)"
                                                   class="send-button md-accent md-raised"
                                                   ng-disabled="!importUsersForm.$valid"
                                                   aria-label="Add Task" translate="USERS.IMPORT.IMPORT"
                                                   translate-attr-aria-label="USERS.IMPORT.IMPORT">
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </div>

                            <div flex>
                                <md-list class="edit-list ph-16">
                                    <md-list-item class="md-no-proxy">
                                        <p translate="USERS.IMPORT.HEADER_ROW" class="text-semibold">CABECERA</p>
                                        <input type="number"
                                               ng-model="vm.headerRow"
                                               min="1"
                                               required/>
                                    </md-list-item>

                                    <md-list-item class="md-no-proxy">
                                        <p translate="USERS.IMPORT.EMAIL_COLUMN" class="text-semibold">EMAIL</p>
                                        <input type="text"
                                               ng-model="vm.emailColumn"
                                               ng-pattern="vm.columnPattern"
                                               required/>
                                        <md-button class="md-icon-button" ng-click="vm.setColumn('emailColumn')">
                                            <md-icon md-font-icon="icon-table-column-width"></md-icon>
                                        </md-button>
                                    </md-list-item>

                                    <md-list-item class="md-no-proxy">
                                        <p translate="USERS.IMPORT.USER_NAME_COLUMN" class="text-semibold">Puntos último
                                            clasificado</p>
                                        <input type="text"
                                               ng-model="vm.userNameColumn"
                                               ng-pattern="vm.columnPattern"
                                               required/>
                                        <md-button class="md-icon-button" ng-click="vm.setColumn('userNameColumn')">
                                            <md-icon md-font-icon="icon-table-column-width"></md-icon>
                                        </md-button>
                                    </md-list-item>

                                    <md-list-item class="md-no-proxy">
                                        <p translate="USERS.IMPORT.SELLER_CODE_COLUMN" class="text-semibold">Total
                                            puntos</p>
                                        <input type="text"
                                               ng-model="vm.sellerCodeColumn"
                                               ng-pattern="vm.columnPattern"
                                               required/>
                                        <md-button class="md-icon-button" ng-click="vm.setColumn('sellerCodeColumn')">
                                            <md-icon md-font-icon="icon-table-column-width"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </div>
                        </div>
                    </form>
                </div>

                <div layout="column">
                    <div id="spreadsheetContainer" class="user-list" flex>
                        <input accept=".xlsx" type="file" class="ng-hide file-input">

                        <div kendo-spreadsheet id="spreadsheet" k-options="vm.spreadsheetOptions">
                        </div>

                    </div>

                </div>
            </div>

        </div>
        <!-- / MAIN -->

    </div>
    <!-- / CONTENT -->

</div>
