<!-- DIALOG -->
<md-dialog class="kpi-dialog" aria-label="Nueva métrica" translate-attr-aria-label="KPIS.NEW_TITLE">

    <kldform name="kpiForm" class="md-inline-form" novalidate mode="{{vm.mode}}">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-hue-2">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title"
                      translate="{{vm.TITLEKEY}}">Nuevo tema</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Cerrar" translate
                           translate-attr-aria-label="DIALOG.CLOSE">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <div layout="column">

                <div ms-icon-wrap="icon-speedometer" title="KPIS.GENERAL">

                    <field  type="text"
                            ng-model="vm.kpi.name"
                            required 
                            label="KPIS.NAME" />

                     <field  type="text"
                            ng-model="vm.kpi.id"
                            required 
                            label="KPIS.ID" />
                            
                   <field  type="note"
                            ng-model="vm.kpi.definition"
                            rows="3"
                            label="KPIS.DEFINITION" />

                    <div layout="row">

                        <div flex="50">
                            <field  type="select"
                                    ng-model="vm.kpi.type"
                                    required
                                    items="vm.kpiTypes"
                                    value-field="value"
                                    display-field="text"
                                    label="KPIS.TYPE" />
                        </div>

                        <div flex>
                            <div ng-if="vm.kpi.type=='loaded' || vm.kpi.type=='usermessages'">
                                <field  type="select"
                                        ng-model="vm.kpi.loaded.aggregateformula"
                                        required 
                                        items="vm.agregatedTypes"
                                        value-field="value"
                                        display-field="text"
                                        label="KPIS.AGREGATE_FORMULA" />
                            </div>

                            <div ng-if="vm.kpi.type=='calculated'" layout="column">

                                <field  type="select"
                                        ng-model="vm.kpi.calculated.numerator"
                                        required 
                                        items="vm.numerators"
                                        value-field="_id"
                                        display-field="name"
                                        label="KPIS.NUMERATOR" />

                                <field  type="select"
                                        ng-model="vm.kpi.calculated.denominator"
                                        required 
                                        items="vm.denominators"
                                        value-field="_id"
                                        display-field="name"
                                        label="KPIS.DENOMINATOR" />
                            </div>
                        </div>
                    </div>

                    <field  type="text"
                            ng-model="vm.kpi.displayformat"
                            label="KPIS.DISPLAY_FORMAT" />

                    <div layout="row">
                        <div flex="50">
                            <field  type="boolean"
                                    ng-model="vm.score"
                                    label="KPIS.SCORE" />
                        </div>

                        <div flex ng-if="vm.score">

                            <field  type="select"
                                    ng-model="vm.kpi.score.type"
                                    required
                                    items="vm.scoreTypes"
                                    value-field="value"
                                    display-field="text"
                                    label="KPIS.SCORETYPE" />
                        </div>
                    </div>

                    <div ng-if="vm.kpi.score.type=='levels'">
                        <field  type="number"
                                ng-model="vm.kpi.score.levels.upLevelPoints"
                                label="KPIS.UPLEVELPOINTS" />

                        <field  type="number"
                                ng-model="vm.kpi.score.levels.equalLevelPoints"
                                label="KPIS.EQUALLEVELPOINTS" />

                        <field  type="number"
                                ng-model="vm.kpi.score.levels.downLevelPoints"
                                label="KPIS.DOWNLEVELPOINTS" />
                    </div>


                    <div ng-if="vm.kpi.score.type=='distribution'">

                        <field  type="distribution"
                                ng-model="vm.kpi.score.distribution" />

                    </div>


                    <div ng-if="vm.kpi.score.type=='formula'">
                        <field  type="text"
                                required
                                ng-model="vm.kpi.score.formula"
                                label="KPIS.FORMULA" />
                    </div>

                </div>

            </div>


        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center" ng-if="vm.mode=='edit'">
                <md-button type="submit" ng-if="vm.newItem" ng-click="vm.addNew()"
                           class="send-button md-accent md-raised"
                           ng-disabled="kpiForm.$invalid"
                           translate="KPIS.ADD"
                           aria-label="New" translate-attr-aria-label="KPIS.ADD">
                    NEW
                </md-button>
                <md-button type="submit" ng-if="!vm.newItem" ng-click="vm.saveItem()"
                           class="send-button md-accent md-raised"
                           ng-disabled="kpiForm.$invalid"
                           aria-label="Save" translate="FORMS.SAVE" translate-attr-aria-label="FORMS.SAVE">
                    SAVE
                </md-button>
            </div>

            <div layout="row" ng-if="vm.mode=='edit'">
                <md-button ng-if="!vm.newItem" class="md-icon-button" ng-click="vm.deleteKpi($event)" aria-label="Delete"
                           translate
                           translate-attr-aria-label="FORMS.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="FORMS.DELETE">DELETE</span></md-tooltip>
                </md-button>
            </div>

        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </kldform>

</md-dialog>
<!-- / DIALOG -->
