<!-- DIALOG -->
<md-dialog class="customer-dialog" aria-label="Nuevo cliente" translate-attr-aria-label="CUSTOMERS.NEW_TITLE">

    <kldform name="customerForm" class="md-inline-form" novalidate mode="edit">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-hue-2">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title"
                      translate="CUSTOMERS.NEW_TITLE">Distribución</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Cerrar" translate
                           translate-attr-aria-label="DIALOG.CLOSE">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <div layout="column">

                <field  type="text"
                        ng-model="vm.customer.name"
                        required
                        label="CUSTOMERS.NAME" />

                <field  type="select"
                        ng-model="vm.customer.admin._id"
                        items="vm.users"
                        display-field="userName"
                        value-field="_id"
                        label="CUSTOMERS.ADMIN" />

            </div>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->

        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="!vm.isNew" ng-click="vm.updateCustomer()"
                           class="send-button md-accent md-raised"
                           ng-disabled="customerForm.$invalid"
                           aria-label="SAVE" translate="CUSTOMERS.DIALOG.SAVE" translate-attr-aria-label="CUSTOMERS.DIALOG.SAVE">
                    SAVE
                </md-button>

                <md-button type="submit" ng-if="vm.isNew" ng-click="vm.addNewCustomer()"
                           class="send-button md-accent md-raised"
                           ng-disabled="customerForm.$invalid"
                           aria-label="Add Task" translate="CUSTOMERS.DIALOG.ADD"
                           translate-attr-aria-label="CUSTOMERS.DIALOG.ADD">
                    ADD CUSTOMER
                </md-button>

            </div>

            <div layout="row">
                <md-button ng-if="!vm.isNew" class="md-icon-button" ng-click="vm.deleteCustomer($event)" aria-label="Delete"
                           translate
                           translate-attr-aria-label="CUSTOMERS.DIALOG.DELETE">
                    <md-icon md-font-icon="icon-delete"></md-icon>
                    <md-tooltip><span translate="CUSTOMERS.DIALOG.DELETE">DELETE</span></md-tooltip>
                </md-button>
            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </kldform>

</md-dialog>
<!-- / DIALOG -->
