<!-- DIALOG -->
<md-dialog class="step-dialog" aria-label="Nuevo paso" translate-attr-aria-label="STEP.NEW_TITLE">

    <kldform name="stepForm" class="md-inline-form" novalidate mode="edit">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-hue-2">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title"
                      translate="{{vm.TITLEKEY}}">Nuevo tema</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Cerrar" translate
                           translate-attr-aria-label="DIALOG.CLOSE">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <div layout="column">

                <div ms-icon-wrap="{{vm.step.type | timelineIcon}}" title="STEP.DEFINITION">

                    <field  type="text"
                            ng-model="vm.step.title"
                            required 
                            label="STEP.TITLE" />

                    <field  type="note"
                            ng-model="vm.step.data.description"
                            rows="3"
                            label="STEP.DESCRIPTION" />
                </div>


                <div ms-icon-wrap="icon-map-marker" title="STEP.LOCATION">

                    <field  type="note"
                            ng-model="vm.step.data.location.address"
                            rows="3"
                            label="STEP.ADDRESS" />

                    <div layout="row">

                        <field  type="number" flex
                                ng-model="vm.step.data.location.longitud"
                                label="STEP.LONGITUDE" />

                        <field  type="number" flex
                                ng-model="vm.step.data.location.latitud"
                                label="STEP.LATITUDE" />
                    </div>
                </div>
            </div>


        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="vm.newStep" ng-click="vm.addNew()"
                           class="send-button md-accent md-raised"
                           ng-disabled="stepForm.$invalid"
                           translate="STEP.ADD"
                           aria-label="New" translate-attr-aria-label="STEP.ADD">
                    NEW
                </md-button>
                <md-button type="submit" ng-if="!vm.newStep" ng-click="vm.saveStep()"
                           class="send-button md-accent md-raised"
                           ng-disabled="stepForm.$invalid"
                           aria-label="Save" translate="FORMS.SAVE" translate-attr-aria-label="FORMS.SAVE">
                    SAVE
                </md-button>
            </div>

        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </kldform>

</md-dialog>
<!-- / DIALOG -->
