<!-- DIALOG -->
<md-dialog class="player-dialog" aria-label="Nuevo jugador" translate-attr-aria-label="PLAYERS.NEW_TITLE">

    <!--<form name="playerForm" class="md-inline-form" novalidate mode="edit">-->

        <!--&lt;!&ndash; DIALOG TOOLBAR &ndash;&gt;-->
        <!--<md-toolbar class="md-accent md-hue-2">-->

            <!--&lt;!&ndash; TOOLBAR TOP &ndash;&gt;-->
            <!--<div class="md-toolbar-tools" layout="row" layout-align="space-between center">-->
                <!--<span class="title"-->
                      <!--translate="GAMES.NEW_TITLE">Nueva partida</span>-->
                <!--<md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Cerrar" translate-->
                           <!--translate-attr-aria-label="DIALOG.CLOSE">-->
                    <!--<md-icon md-font-icon="icon-close"></md-icon>-->
                <!--</md-button>-->
            <!--</div>-->
            <!--&lt;!&ndash; / TOOLBAR TOP &ndash;&gt;-->

        <!--</md-toolbar>-->
        <!--&lt;!&ndash; / DIALOG TOOLBAR &ndash;&gt;-->

        <!--&lt;!&ndash; DIALOG CONTENT &ndash;&gt;-->
        <!--<md-dialog-content ms-scroll>-->

            <!--<div layout="column">-->

            <!--</div>-->

        <!--</md-dialog-content>-->
        <!--&lt;!&ndash; / DIALOG CONTENT &ndash;&gt;-->

        <!--&lt;!&ndash; DIALOG ACTIONS &ndash;&gt;-->
        <!--<md-dialog-actions layout="row" layout-align="space-between center">-->
            <!--<div layout="row" layout-align="start center">-->
                <!--<md-button type="submit" ng-if="vm.newGame" ng-click="vm.addNewPlayer()"-->
                           <!--class="send-button md-accent md-raised"-->
                           <!--ng-disabled="playerForm.$invalid"-->
                           <!--aria-label="Add Task" translate="GAMES.ADD_GAME"-->
                           <!--translate-attr-aria-label="GAMES.ADD_GAME">-->
                    <!--CREAR Partida-->
                <!--</md-button>-->

            <!--</div>-->

            <!--&lt;!&ndash;-->
            <!--<div layout="row">-->
                <!--<md-button class="md-icon-button" ng-click="vm.deleteGameConfirm($event)" aria-label="Delete"-->
                           <!--translate-->
                           <!--translate-attr-aria-label="GAMES.DELETE">-->
                    <!--<md-icon md-font-icon="icon-delete"></md-icon>-->
                    <!--<md-tooltip><span translate="GAMES.DELETE">DELETE</span></md-tooltip>-->
                <!--</md-button>-->
            <!--</div>-->
            <!--&ndash;&gt;-->
        <!--</md-dialog-actions>-->
        <!--&lt;!&ndash; / DIALOG ACTIONS &ndash;&gt;-->

    <!--</form>-->

</md-dialog>
<!-- / DIALOG -->
