<!-- DIALOG -->
<md-dialog class="team-dialog" aria-label="Nueva partida" translate-attr-aria-label="COSTUMERS.NEW_TITLE">

    <kldform name="teamForm" class="md-inline-form" novalidate mode="edit">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-hue-2">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title"
                      translate="COSTUMERS.NEW_TITLE">Nueva partida</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Cerrar" translate
                           translate-attr-aria-label="DIALOG.CLOSE">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>


        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">
            <div layout="row" layout-align="start center">
                <md-button type="submit" ng-if="vm.newGame" ng-click="vm.addNewGame()"
                           class="send-button md-accent md-raised"
                           ng-disabled="teamForm.$invalid"
                           aria-label="Add Task" translate="COSTUMERS.ADD_GAME"
                           translate-attr-aria-label="COSTUMERS.ADD_GAME">
                    CREAR Partida
                </md-button>

            </div>
        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </kldform>

</md-dialog>
<!-- / DIALOG -->
