<!-- DIALOG -->
<md-dialog class="distribution-dialog" aria-label="Nuevo tema" translate-attr-aria-label="DISTRIBUTION.NEW_TITLE">

    <kldform name="distributionForm" class="md-inline-form" novalidate mode="edit">

        <!-- DIALOG TOOLBAR -->
        <md-toolbar class="md-accent md-hue-2">

            <!-- TOOLBAR TOP -->
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title"
                      translate="DISTRIBUTION.NEW_TITLE">Distribución</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Cerrar" translate
                           translate-attr-aria-label="DIALOG.CLOSE">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
            <!-- / TOOLBAR TOP -->

        </md-toolbar>
        <!-- / DIALOG TOOLBAR -->

        <!-- DIALOG CONTENT -->
        <md-dialog-content ms-scroll>

            <div layout="column">
                
                <field  type="text"
                        ng-model="vm.distribution.name"
                        required 
                        label="DISTRIBUTION.NAME" />

                <field  type="note"
                        ng-model="vm.distribution.description"
                        rows="1"
                        label="DISTRIBUTION.DESCRIPTION" />

                <field  type="TEXT"
                        ng-model="vm.distribution.type"
                        label="DISTRIBUTION.TYPE"
                        required />

                <field  type="NUMBER"
                        ng-model="vm.distribution.participants"
                        required 
                        label="DISTRIBUTION.PARTICIPANTS" />
            </div>

        </md-dialog-content>
        <!-- / DIALOG CONTENT -->

        <!-- DIALOG ACTIONS -->
        <md-dialog-actions layout="row" layout-align="space-between center">

            <md-button type="submit" ng-click="vm.addNewDistribution()"
                        class="send-button md-accent md-raised"
                        ng-disabled="distributionForm.$invalid"
                        aria-label="Add Task" translate="FORMS.ADD"
                        translate-attr-aria-label="FORMS.ADD">
                ADD
            </md-button>

        </md-dialog-actions>
        <!-- / DIALOG ACTIONS -->

    </kldform>

</md-dialog>
<!-- / DIALOG -->
