<div id="users" class="page-layout simple left-sidenav inner-sidenav">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">

        <!-- APP TITLE -->
        <div layout="row" layout-align="start center">
            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-account-multiple" class="s24"></md-icon>
                </span>
                <span class="logo-text" translate="USERS.TITLE">Partidas</span>
            </div>
        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="search-input-wrapper" layout="row" layout-align="start center">
            <label for="search">
                <md-icon md-font-icon="icon-magnify"></md-icon>
            </label>
            <md-input-container md-no-float class="m-0">
                <input id="search" placeholder="Buscar una partida" type="text" ng-model="vm.search" translate
                       translate-attr-placeholder="USERS.SEARCH">
            </md-input-container>
        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">

        <!-- MAIN -->
        <div class="main scrollable" ms-scroll>

            <!-- USERS LIST -->

            <div class="users-list" ng-show="vm.filteredItems.length !== 0">
                <ms-card class="user-card" template="'app/core/directives/ms-card/templates/template-1/template-1.html'" ng-model="user" ng-repeat="user in vm.filteredItems"></ms-card>
            </div>

            <!-- / USERS LIST -->

            <!-- NO RESULTS -->
            <md-list-item class="no-results md-white-bg" ng-show="vm.filteredItems.length === 0">
                <p translate="USERS.NO_RESULTS">No results..</p>
            </md-list-item>
            <!-- / NO RESULTS -->

        </div>
        <!-- / MAIN -->

    </div>
    <!-- / CONTENT -->

    <!-- ADD CONTACT BUTTON -->
    <md-button class="md-fab md-accent md-icon-button" id="add-user-button" ng-click="vm.createNew($event)"
               aria-label="add contact" translate translate-attr-aria-label="USERS.ADD_GAME">
        <md-icon md-font-icon="icon-plus"></md-icon>
    </md-button>
    <!-- / ADD CONTACT BUTTON -->

</div>
