.timeline {

    position: relative;
    height: auto;
    padding-bottom: 64px;

    &:before {
        display: block;
        position: absolute;
        z-index: 10;
        content: "";
        width: 2px;
        background: rgba(0, 0, 0, 0.08);
        top: 0;
        left: 50%;
        bottom: 0;
        margin-left: -1px;
    }

    .ms-timeline {

        padding: 0px;
        list-style: none;
        z-index: 20;

        .dndPlaceholder {
            height: 1px;
            border-style: dotted;
            border-width: 0 0 2px 0;
            border-color: material-color('light-blue');
            margin: 0;
        }

        .ms-timeline-item {

            border:1px solid rgba(0, 0, 0, 0.08);
            margin: 20px 0;

            > div {

                width: 300px;
                background-color: white;

                .drag-handle {
                    margin: 8px;
                    cursor: pointer;
                }

                .actions {

                    visibility: hidden;

                }
            }

            &.dndDraggingSource {
                display: none;
            }



            &:hover {
                .actions {
                    visibility: visible;
                }
            }
        }
    }
}