<div class="timeline">

    <div vis-timeline="vm.timelineControl" data="vm.data" options="vm.options" events="vm.events"></div>

    <!--
    <div class="timeline" ms-scroll layout="column" layout-align="none center">

        <ul class="ms-timeline"
            dnd-list="vm.timeline"
            dnd-drop="vm.dropedItem(index, item)">
            
            <li class="ms-timeline-item md-3-line"
                ng-repeat="item in vm.timeline"
                dnd-draggable="item"
                dnd-dragstart="vm.dragstartItem(item)"
                dnd-effect-allowed="move"
                dnd-moved="vm.movedItem($index, item)">
            
                <div layout="column" dnd-nodrag>

                    <div flex layout="row" layout-align="center start">

                        <div flex layout="row" layout-align="none center">
                            <md-icon flex="none" class="m-16 s40 md-accent-fg" md-font-icon="{{item.type | timelineIcon}}"></md-icon>
                            <div flex class="md-list-item-text" layout="column" layout-align="start start">
                                <h3>{{item.title}}</h3>
                                <div>{{item.type}}</div>


                            </div>
                        </div>

                        <md-icon flex="none" class="drag-handle" md-font-icon="icon-drag-vertical" dnd-handle></md-icon>
                    </div>

                    <div class="actions" layout="row" layout-align="center center">

                        <md-button  class="md-icon-button"
                                    aria-label="edit"
                                    ng-click="vm.openElementDialog($event, item.type, item)"
                                    translate-attr-aria-label="FORMS.EDIT">
                            <md-icon md-font-icon="icon-pencil" class="md-default-theme" translate-attr-aria-label="FORMS.DELETE"></md-icon>
                        </md-button>

                        <md-button  class="md-icon-button"
                                    aria-label="delete"
                                    ng-click="vm.deleteConfirm($event, $index, item)"
                                    translate-attr-aria-label="FORMS.DELETE">
                            <md-icon md-font-icon="icon-delete" class="md-default-theme" translate-attr-aria-label="FORMS.DELETE"></md-icon>
                        </md-button>
                    </div>
                </div>
            </li>

        </ul>


        <md-menu>
            <md-button class="md-fab md-accent md-icon-button" ng-click="vm.openNewMenu($mdOpenMenu, $event)"
                    aria-label="add contact" translate translate-attr-aria-label="TIMELINE.ADD_TIMELINEEVENT">
                <md-icon md-font-icon="icon-plus"></md-icon>
            </md-button>

            <md-menu-content>
                <md-menu-item>
                    <md-button  ng-click="vm.openElementDialog($event, 'Step')"
                                aria-label="New step" translate 
                                translate-attr-aria-label="TIMELINE.NEW_STEP">
                        <md-icon md-font-icon="icon-apple-safari"></md-icon>
                        <span translate="TIMELINE.NEW_STEP">Step</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button  ng-click="vm.openElementDialog($event, 'Goal')"
                                aria-label="New goal" translate 
                                translate-attr-aria-label="TIMELINE.NEW_GOAL">
                        <md-icon md-font-icon="icon-alarm-check"></md-icon>
                        <span translate="TIMELINE.NEW_GOAL">Goal</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button  ng-click="vm.openElementDialog($event, 'Message')"
                                aria-label="New message" translate 
                                translate-attr-aria-label="TIMELINE.NEW_MESSAGE">
                        <md-icon md-font-icon="icon-email"></md-icon>
                        <span translate="TIMELINE.NEW_MESSAGE">Message</span>
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button  ng-click="vm.openElementDialog($event, 'Post')"
                                aria-label="New post" translate 
                                translate-attr-aria-label="TIMELINE.NEW_POST">
                        <md-icon md-font-icon="icon-message-text"></md-icon>
                        <span translate="TIMELINE.NEW_POST">Post</span>
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>

    </div>
    -->

</div>
