.timeline {

    

    .ms-timeline {

        padding: 0px;
        list-style: none;
        z-index: 20;


        .ms-timeline-item {

            border:1px solid rgba(0, 0, 0, 0.08);
            margin: 20px 0;

            > div {

                width: 300px;
                background-color: white;

                .drag-handle {
                    margin: 8px;
                    cursor: pointer;
                }

                .actions {

                    visibility: hidden;

                }
            }

            &.dndDraggingSource {
                display: none;
            }



            &:hover {
                .actions {
                    visibility: visible;
                }
            }
        }
    }
}