.timeline {

    background-color: #EEF0F2;
    top: 24px;
    bottom: 24px;
    left: 24px;
    right: 24px;
    overflow: hidden;
    position: absolute;
    box-shadow: 0 1px .5px rgba(0, 0, 0, .13);

    .vis-timeline {

        background-color: white;

        .vis-item {
            background-color: #E8F5E9;
            border-color: #b2c1b3;
        }

        .vis-selected {
            background-color: #FFFDE7!important;
        }
    }

}