<div id="users" class="page-layout simple left-sidenav inner-sidenav">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="space-between center">

        <!-- APP TITLE -->
        <div layout="row" layout-align="start center">
            <div class="logo" layout="row" layout-align="start center">
                <span class="logo-icon">
                    <md-icon md-font-icon="icon-chart-line" class="s24"></md-icon>
                </span>
                <span class="logo-text" translate="USERS.TITLE">Temas</span>
            </div>
        </div>
        <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" md-background-bg layout="row" layout-align="start start">

        <!-- MAIN -->
        <div class="main scrollable" ms-scroll>
            <!-- IMPORT USERS BUTTON -->

            <div layout="row" layout-align="space-between center">
                <md-button ng-click="vm.importUsers($event)"
                           class="send-button md-accent md-raised"
                           ng-disabled="importUsersForm.$invalid"
                           aria-label="Add Task" translate="USERS.IMPORT.USERS"
                           translate-attr-aria-label="USERS.IMPORT.USERS">
                </md-button>

            </div>
            <!-- / IMPORT USERS BUTTON -->

            <!-- USERS LIST -->

            <div class="user-list" ng-show="vm.users.length !== 0">

                <div id="usersGrid" kendo-grid="grid" options="vm.gridOptions">
                </div>

            </div>

            <!-- / USERS LIST -->

            <!-- NO RESULTS -->
            <md-list-item class="no-results md-white-bg" ng-show="vm.users.length === 0">
                <p translate="USERS.NO_RESULTS">No results..</p>
            </md-list-item>
            <!-- / NO RESULTS -->

        </div>
        <!-- / MAIN -->

    </div>
    <!-- / CONTENT -->

    <!-- ADD USER BUTTON -->
    <md-button class="md-fab md-accent md-icon-button" id="add-user-button" ng-click="vm.createNew($event)"
               aria-label="add user" translate translate-attr-aria-label="FORMS.ADD">
        <md-icon md-font-icon="icon-plus"></md-icon>
    </md-button>
    <!-- / ADD USER BUTTON -->

</div>
