<div id="distribution-detail" class="page-layout simple fullwidth" layout="column">

    <!-- HEADER -->
    <div class="header md-accent-bg" layout="row" layout-align="start center">
        <div class="white-fg" layout="row" layout-align="start center" flex>
            <md-button class="goto-list-button md-icon-button" aria-label="Go to distributions"
                       ng-click="vm.gotoList()"
                       translate translate-attr-aria-label="DISTRIBUTION.GO_TO_DISTRIBUTIONS">
                <md-icon md-font-icon="icon-arrow-left"></md-icon>
            </md-button>

            <div layout="row" layout-align="start center">

                <div layout="column" layout-align="start start">
                    <div class="h2">
                        {{vm.distribution.name}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span translate="DISTRIBUTION.EDIT_TITLE">Distribution Detail</span>
                    </div>
                </div>
            </div>
        </div>

        <md-button  class="md-icon-button"
                    aria-label="delete"
                    ng-click="vm.deleteDistributionConfirm()"
                    translate-attr-aria-label="FORMS.DELETE">
            <md-icon md-font-icon="icon-delete" class="md-default-theme" aria-label="delete" translate-attr-aria-label="FORMS.DELETE"></md-icon>
        </md-button>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content widget-group" layout="row" layout-align="start" layout-wrap>

        <ms-widget flippable="true" flex="30" flipped="vm.flipped.definition">

            <ms-widget-front class="md-white-bg">

                <div layout="row" layout-align="space-between center" class="h-55 ph-16">
                    <div class="h2" translate="DISTRIBUTION.BASIC_INFO">Definición</div>
                    <md-button class="md-icon-button" ng-click="vm.editDefinition()" aria-label="edit" translate-attr-aria-label="FORMS.EDIT">
                        <md-icon class="s16" md-font-icon="icon-pencil"></md-icon>
                    </md-button>
                </div>

                <div layout="column" class="ph-16">
                    <kldform class="md-inline-form" novalidate mode="display">
                        <field  type="text"
                                ng-model="vm.distribution.name"
                                required 
                                label="DISTRIBUTION.NAME" />

                        <field  type="note"
                                ng-model="vm.distribution.description"
                                rows="1"
                                label="DISTRIBUTION.DESCRIPTION" />

                        <field  type="text"
                                ng-model="vm.distribution.type"
                                label="DISTRIBUTION.TYPE"
                                required />

                    </kldform>
                </div>
            </ms-widget-front>

            <ms-widget-back class="md-white-bg">

                <div layout="row" layout-align="space-between center" class="h-55 ph-16">
                    <div class="h2" translate="DISTRIBUTION.BASIC_INFO">Definición</div>
                    <div class="flip-to-front">
                        <md-button class="md-icon-button" ng-click="vm.flipped.definition=false" aria-label="Cancel" translate-attr-aria-label="FORMS.CANCEL">
                            <md-icon md-font-icon="icon-close" class="s16"></md-icon>
                        </md-button>
                    </div>
                </div>

                <div layout="column" class="ph-16">
                    <kldform name="distributionForm" class="md-inline-form" novalidate mode="edit">
                        <field  type="text"
                                ng-model="vm.distributionCopy.name"
                                required 
                                label="DISTRIBUTION.NAME" />

                        <field  type="note"
                                ng-model="vm.distributionCopy.description"
                                rows="7"
                                label="DISTRIBUTION.DESCRIPTION" />

                        <field  type="text"
                                ng-model="vm.distributionCopy.type"
                                label="DISTRIBUTION.TYPE"
                                required />
                    </kldform>
                </div>

                <div id="save-definition" class="p-16 grey-50-bg border-top" layout="row" layout-align="start center">
                    <md-button  class="send-button md-accent md-raised"
                                ng-disabled="distributionForm.$invalid"
                                ng-click="vm.saveDefinition()" 
                                translate="FORMS.SAVE">Save</md-button>
                </div>

            </ms-widget-back>

        </ms-widget>

        <ms-widget flippable="false" flex>
            <div layout="column" flex class="form-wrapper form-data-wrapper md-whiteframe-1dp"> 

                    <div class="form-title" translate="DISTRIBUTION.DISTRIBUTION">Distribución</div>

                    <md-list class="settings-form">
                        <md-list-item>
                            <p>Participantes</p>
                            <input  type="number"
                                    required
                                    ng-model="vm.distribution.participants"
                                    ng-model-options="{debounce:500}" />
                        </md-list-item>

                        <md-list-item>
                            <p>Puntos primer clasificado</p>
                            <input  type="number"
                                    ng-model="vm.points.first"
                                    ng-model-options="{debounce:500}" />
                        </md-list-item>

                        <md-list-item>
                            <p>Puntos último clasificado</p>
                            <input  type="number"
                                    ng-model="vm.points.last"
                                    ng-model-options="{debounce:500}" />
                        </md-list-item>

                        <md-list-item>
                            <p class="text-semibold">Total puntos</p>
                            <p ng-bind="vm.points.total" class="text-semibold"></p>
                        </md-list-item>
                    </md-list>

                    <div class="k-content wide">
                        <div kendo-chart="chart"
                            k-options="vm.options"
                            style="height: 350px; width: 100%" >
                        </div>
                    </div>

<!--
                    <div>
                        <nvd3 options="vm.options" data="vm.tableData"></nvd3>
                    </div>

                            <table>

                                <tr ng-repeat="item in vm.distribution.distributionTable track by $index">
                                    <td>
                                        <span class="md-title">{{$index}}</span> <input type="text" ng-model="vm.distribution.distributionTable[$index]" />
                                    </td>
                                </tr>

                            </table>
-->
                </div>

        </ms-widget>

    </div>

</div>
