#distribution-detail {

    .header {
        height: 76px;
        min-height: 76px;
        max-height: 76px;

        .goto-list-button {
            margin-right: 16px;
        }

        .subtitle {
            margin: 6px 0 0 0;
        }
    }

    .content {

        position: absolute;
        top: 76px;
        bottom: 0;
        right: 0;
        left: 0;
        
        #save-definition {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }

        textarea: {
        }
        
        .settings-form {

            md-list-item {

                min-height: 25px;

                &::before {
                    min-height: 0;
                }

                .md-secondary-container {
                    p {
                        margin: 0px;
                    }
                }
            }

            .display-list {
                width: 50%;
            }

        }
    }
}