
	html, body {

		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow: hidden;
	}

	.TreeMap {

		position:absolute;
		bottom:0;
		top:0;
		left:0;
		right:0;
		margin:0;
		font-family: sans-serif;
		font-size: 70%;
	}

	.TreeMap * {

		box-sizing: border-box;
	}

	.TreeMap .Head {

		height: 40px;
		padding: 6px 6px 0 10px;
	}

	.TreeMap .Head .Title {

		float: left;
	}

	.TreeMap .Head .Tools {

		float: right;
	}

	.TreeMap .Head .Tools button {

		background-color: #fff;
		border: solid 1px #ccc;
		padding: 5px 10px;
	}

	.TreeMap .Data {

		position:absolute;
		height:auto;
		bottom:0;
		top:40px;
		left:0;
		right:0;
		margin:0;
	}

	.TreeMap .Data .Blocks {

		margin-left: 110px;
	}

	.TreeMap .Data .Block {

		background-color: #ccc;
		overflow: hidden;
	}

	.TreeMap .Data .Block:not(:first-child()):not(:last-child) {

		cursor: hand;
	}

	.TreeMap .Data .Block .Title {

		padding: 5px;
		width: 100px;
		float: left;
		background-color: rgba(255, 255, 255, 0.3);
		cursor: pointer;
	}

	.TreeMap .Data .Block .Blocks {

		height: 100%;
		z-index: 0;
	}

	.TreeMap .Block:not(:first-child()):not(:last-child) {

		cursor: hand;
	}

	.TreeMap .Block.Opened {

		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 100000;
		height: auto !important;
	}

	.TreeMap .Block .DistributionTable {

		height: 100%;
		margin-left: 110px;
		background-color: #888;
	}

	.TreeMap .Block .DistributionTable .Sector {

	}

	.TreeMap .Block .DistributionTable .Sector .Center,
	.TreeMap .Block .DistributionTable .Sector .Bar {

		display: inline-block;
		vertical-align: middle;
	}

	.TreeMap .Block .DistributionTable .Sector .Center {

		height: 100%;
		width: 0;
	}

	.TreeMap .Block .DistributionTable .Sector .Bar {

		background-color: #fff;
		height: 2px;
	}

	.TreeMap .Block .Resizer {

		position: relative;
		background-color: #fff;
		top: -1px;
		height: 2px;
		cursor: n-resize;
	}