<div class="BGTreeMap">

	<div class="Parts Sections">

		<!--  -->

		<div ng-repeat="Part in BGTM.Map.parts"
			 class="Part Section {{ Part.className }}"
			 ng-style="BGTM.getStyle(Part)"
			 ng-mousedown="BGTM.mousedown($event, BGTM.Map.parts, $index, false, ($last || $first))">

			<bg-treemap-resizer ng-mousedown="BGTM.mousedown($event, BGTM.Map.parts, $index, true)"
								ng-if="!$first"></bg-treemap-resizer>

			<div class="Title"
				 ng-click="BGTM.toggle($event)">{{ Part.name }} {{ Part.budget }}</div>

			<!--  -->

			<div class="Blocks Sections">

				<!-- -->

				<div ng-repeat="Block in Part.blocks"
					 class="Block Section {{ Block.className }}"
			 		 ng-style="BGTM.getStyle(Block)"
			 		 ng-mousedown="BGTM.mousedown($event, Part.blocks, $index, false, ($last || $first))">

					<bg-treemap-resizer ng-mousedown="BGTM.mousedown($event, Part.blocks, $index, true)"
										ng-if="!$first"></bg-treemap-resizer>

					<div class="Title"
				 		 ng-click="BGTM.toggle($event)">{{ Block.name }} {{ Block.budget }}</div>

					<!-- -->

					<bg-treemap-distributiontable data="Block.distributionTableBudget"
						 						  ng-if="!Block.steps"></bg-treemap-distributiontable>

					<div class="Steps Sections"
						 ng-if="Block.steps">

						<!-- -->

						<div ng-repeat="Step in Block.steps"
							 class="Step Section {{ Step.className }}"
					 		 ng-style="BGTM.getStyle(Step)"
					 		 ng-mousedown="BGTM.mousedown($event, Block.steps, $index, false, ($last || $first))">

							<bg-treemap-resizer ng-mousedown="BGTM.mousedown($event, Block.steps, $index, true)"
												ng-if="!$first"></bg-treemap-resizer>

							<div class="Title"
				 				 ng-click="BGTM.toggle($event)">{{ Step.name }} {{ Step.budget }}</div>

							<!-- -->

							<bg-treemap-distributiontable data="Step.distributionTableBudget"></bg-treemap-distributiontable>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>