<div ng-messages="modelCtrl.$error" role="alert">
    <div ng-message="required">
        <span translate="FORMS.REQUIRED">Es obligatorio introducir un valor en este campo</span>
    </div>
    <div ng-message="url">
        <span translate="FORMS.URL">Url error.</span>
    </div>
    <div ng-message="number">
        <span translate="FORMS.NUMBER">Number error.</span>
    </div>
    <div ng-message="unique">
        <span translate="FORMS.UNIQUE">Unique error.</span>
    </div>
    <div ng-message="date">
        <span translate="FORMS.DATE">Invalid date.</span>
    </div>
    <div ng-message="pattern">
        <span translate="FORMS.PATTERN">Invalid name.</span>
    </div>
</div>
